* {
  user-select: none;
}

body {
  font-family: Montserrat, sans-serif;
  background: #28223f;
}
* > a {
  text-decoration: none;
  color: inherit;
}
.container {
  user-select: none;
  margin: 100px auto;
  background: #231e39;
  color: #b3b8cd;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
}
.cover-photo {
  background: url(https://images.unsplash.com/photo-1540228232483-1b64a7024923?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.profile {
  height: 117px;
  width: 120px;
  border-radius: 50%;
  margin: 93px 0 0 -175px;
  border: 1px solid #1f1a32;
  background: #1f1a32;
  filter: contrast(110%);
  filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.75));
}
.profile-name {
  font-size: 22px;
  font-weight: bold;
  margin: 27px 0 0 120px;
}
.about {
  margin-top: 35px;
  line-height: 21px;
}
button {
  margin: 10px 0 40px 0;
}
.msg-btn,
.follow-btn {
  background: #03bfbc;
  border: 1px solid #03bfbc;
  padding: 10px 25px;
  color: #231e39;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
.follow-btn {
  margin-left: 10px;
  background: transparent;
  color: #02899c;
}
.msg-btn:hover {
  background: transparent;
  color: #02899c;
  transition: 0.5s;
}
.follow-btn:hover {
  color: #231e39;
  background: #03bfbc;
  transition: 0.5s;
}

.container i {
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.container i:hover {
  color: #03bfbc;
}
footer {
  text-align: center;
  font-size: 10px;
  color: #b3b8cd;
}
footer span {
  color: #02899c;
}
form {
  height: 435px;
  width: 350px;
}
label {
  font-weight: 500;
  font-size: 22px;
}
form div {
  align-items: center;
  width: 245px;
  height: 76px;
  background: #231e39;
  padding-top: 50px;
  padding-left: 50px;
  color: #dadada;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  margin: 0px;
}
input {
  background: #231e39;
  font-size: 12px;
  padding: 5px 5px;
  color: #dadada;
  margin: 10px;
  border: 1px solid;
  border-color: #dadada8e;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  width: 200px;
  margin-top: 25px;
}
form .name .msg {
  text-align: center;
  margin: 10px;
  line-height: 1.5px;
  align-items: center;
}
.submit-btn {
  background: #03bfbc;
  border: 1px solid #03bfbc;
  padding: 10px 24px;
  color: #231e39;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  margin-top: 30px;
  align-items: center;
  margin-top: 60px;
}
.your-msg {
  height: 80%;
  background-color: none;
}
textarea {
  margin-bottom: 2rem;
  background: none;
  background: #231e39;
  font-size: 12px;
  padding: 5px 5px;
  color: #dadada;
  margin: 10px;
  border: 1px solid;
  border-color: #dadada8e;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  margin-top: 25px;
}

.submit-btn:hover {
  background: transparent;
  color: #02899c;
  transition: 0.5s;
}
