<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon" />
    <title>Message !</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <form
        action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeRCWA66qmuio7XrerWEhmtE0jVDr1XkmGtSqmLnFZMFJt8hQ/formResponse"
      >
        <div class="name">
          <label> Enter your Name: </label>
          <input
            type="text"
            name="entry.345839923"
            required
            placeholder="Your name"
            id=""
          />
        </div>
        <div class="msg">
          <label> Your Message : </label>
          <textarea
            class="your-msg"
            required
            placeholder="Your message here"
            name="entry.1293974553"
            id=""
            cols="30"
            rows="50"
            type="text"
          ></textarea>
        </div>
        <a href="./success.html"></a
        ><button class="submit-btn" type="submit">Submit!</button>
      </form>
    </div>
  </body>
  <footer>
    <div class="attribution">
      <p>
        Copyright 2021 Ⓒ <span><a href="#">Waheed's Template</a> </span>. All
        Rights Reserved.
      </p>
    </div>
  </footer>
</html>
